{% block body %}
    {% for day, games in schedule %}
        <div>
            <br>День {{ day }}<br>
            {% for team1, team2 in games %}
                {{ team1 }} : {{ team2 }}<br>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}