{% block body %}
    {% for day, games in schedule %}
        <div>
            День {{ day }}<br>
            {% for game in games %}
                {{ game }}<br>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}